---
layout: base
description: Random bits of knowledge that we don't want to forget and that might help you!
---
.row-fluid
  .span12
    - 5.times do |n|
      - if site.blogs[n] != nil
        .row-fluid
          .span12.floating-page.blog-page
            %h3
              %a{:href=>site.blogs[n].url}= site.blogs[n].title
            .blog-content
              = site.blogs[n].content
              %div{:style => "clear:both"}
                - if site.blogs[n].tags
                  .tags
                    %span.title
                      tags:
                    -for tag in site.blogs[n].tags
                      %a{:href => "/blog/tags/#{tag}"}
                        -if (tag != site.blogs[n].tags.last)
                          = "#{tag}, "
                        -else
                          = "#{tag} "
              .pull-right
                %h6 #{site.blogs[n].author} - #{site.blogs[n].date.strftime( '%B %d, %Y' )}
              .clearfix
              = site.blogs[n].disqus_comments_count
              = site.blogs[n].disqus_comments_link


