---
layout: base
description: Random bits of knowledge that we don't want to forget and that might help you!
---
.row-fluid
  .span12
    - for blog in page.blogs
      - if blog != nil
        .row-fluid
          .span12.floating-page.blog-page
            %h3
              %a{:href=>blog.url}= blog.title
            .blog-content
              = blog.content
              %div{:style => "clear:both"}
                - if blog.tags
                  .tags
                    %span.title
                      tags:
                    -for tag in blog.tags
                      %a{:href => "/blog/tags/#{tag}"}
                        -if (tag != blog.tags.last)
                          = "#{tag}, "
                        -else
                          = "#{tag} "
              .pull-right
                %h6 #{blog.author} - #{blog.date.strftime( '%B %d, %Y' )}
              .clearfix
              = blog.disqus_comments_count
              = blog.disqus_comments_link
%div{:style => "text-align: center"}
  = page.blogs.links