---
layout: base
description: Random bits of knowledge that we don't want to forget and that might help you!
---
.row
  .col-md-12
    - for blog in page.blogs
      - if blog != nil
        .row
          .col-md-12.floating-page.blog-page
            %h3
              %a{:href=>blog.url}= blog.title
            .blog-content
              = blog.content
              .clearfix
                .pull-left
                  - if blog.tags
                    .tags
                      %span.title
                        tags:
                      -for tag in blog.tags
                        %a.label.label-info.text-center{:href => "/blog/tags/#{tag}"} #{tag}
                .pull-right
                  %h5 #{blog.author} - #{blog.date.strftime( '%B %d, %Y' )}
              .clearfix
                .pull-left
                  = blog.disqus_comments_link
.row.text-center
  - if page.blogs.pages.length != 1
    .col-md-12
      %ul.pagination
        - for p in page.blogs.pages
          - if p == page.blogs.current_page
            %li.active
              %a{:href=>"#"} #{page.blogs.current_page_index + 1}
          -else
            %li
              %a{:href=>p.output_path} #{page.blogs.pages.index(p) + 1}
= page.blogs[0].disqus_comments_count