---
layout: base
---
.row
  .col-md-1
    %img.floating-page.img-responsive{:src=> 'https://www.gravatar.com/avatar/' + Digest::MD5.hexdigest( page.email ), :alt=>"Profile Image"}
    %a{:href=>"https://plus.google.com/#{site.authors[page.email].google_plus}?rel=author", :style=>"display:hidden"}
  .col-md-11
    %h3
      #{page.title}
    .floating-page.blog-content
      ~ content
      .clearfix
        .pull-left
          - if page.tags
            .tags
              %span.title
                tags:
              -for tag in page.tags
                %a.label.label-info.text-center.tag_link{:href => "/blog/tags/#{tag}"} #{tag}
        .pull-right
          %h5 #{page.author} - #{page.date.strftime( '%B %d, %Y' )}

      .clearfix
        .comments
          = page.disqus_comments
